<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>

          <!-- how to exclude files/methods from coverage etc :
             https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings
          -->

          <!-- first excludes added -->
          <ExcludeByFile>
            **\Adapters\*Wrapper.cs,
            **\Adapters\**\*Wrapper.cs,
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>